/* Google Fonts selection link
https://fonts.google.com/share?selection.family=Roboto+Flex:opsz,wght@8..144,100..1000|Schibsted+Grotesk:ital,wght@0,400..900;1,400..900|Space+Grotesk:wght@300..700
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans-fallback: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Schibsted Grotesk", var(--font-sans-fallback);
  --font-title: "Space Grotesk", var(--font-sans-fallback);
  --font-sans: "Roboto Flex", var(--font-sans-fallback);
}
